<a href="https://colab.research.google.com/github/shahdhruv29/woc5.0-ml-weather-prediction-case-study-dhruvshah29/blob/main/Checkpoint3_woc5_0_checkpoint3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Youtube Influencer Analysis_Updated.csv', encoding='cp1252')

In [ ]:
print(df)

                                            Video Link Video Views  \
0          https://www.youtube.com/watch?v=_0fUOJ55gis     146,059
1          https://www.youtube.com/watch?v=_70MSLPRfZI     231,969
2    https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s         878
3          https://www.youtube.com/watch?v=_CkFNJgKsFs       9,965
4          https://www.youtube.com/watch?v=_GFkHA5EZdE  39,780,561
..                                                 ...         ...
900        https://www.youtube.com/watch?v=GS18WawA-t0       6,892
901        https://www.youtube.com/watch?v=_tc_APkjH2Q      16,554
902        https://www.youtube.com/watch?v=Xfj4osSYfhU      32,798
903        https://www.youtube.com/watch?v=mGEHqwVz0eI       1,503
904        https://www.youtube.com/watch?v=UGATpt0I4vA     429,966

                                           Video Title  \
0      Samse - Didupe Off-road Royal Enfield Himalayan
1                             Bhoom Baddhal Web Series
2    Customer Psychology, Four Views Of Consumer De...
3       Top countries with proven natural gas reserves
4                       73 Questions With Selena Gomez
..                                                 ...
900  Calming mashup of Islamic Nasheed 2022 | Isami...
901                           Amchi Nawayat Mehfil hee
902                                      Aas ge Kaagaz
903  Anjuman Tarana by ABHS Students | Anjuman Anju...
904  Jhulan Goswami Final Over in ODIs | ENG vs IND...

                                           Channel URL          Creator Name  \
0                  https://www.youtube.com/c/sriharick            srihari ck
1           https://www.youtube.com/c/ChaibisketTelugu           Chai Bisket
2    https://www.youtube.com/channel/UCcIUnCsBfONvb...           Virda Warsi
3                   https://www.youtube.com/c/trtworld                   TRT
4                                      Vogue - YouTube                 Vogue
..                                                 ...                   ...
900        https://www.youtube.com/c/SahilOnlineTVnews  Sahil Online TV News
901                https://www.youtube.com/sahilonline  Sahil Online TV News
902                https://www.youtube.com/sahilonline  Sahil Online Bhatkal
903                https://www.youtube.com/sahilonline  Sahil Online Bhatkal
904        https://www.youtube.com/c/SonySportsNetwork   Sony Sports Network

    Creator Gender Total Channel Subcribers Total Chanel Views  \
0             Male                    40200            7964284
1             Male                   920000          137535681
2           Female                      458              72945
3              NaN                  1680000          541653219
4              NaN                 12100000         3600496171
..             ...                      ...                ...
900            NaN                   594000          129926690
901            NaN                   594000          129926690
902            NaN                    23500            5104872
903            NaN                    23500            5104872
904            NaN                  3980000          728858923

    Duration of Video Duration in Seconds  ... Video Description  Hashtags  \
0           00:30:41             1,841.00  ...               Yes         0
1           00:14:24               864.00  ...               Yes         1
2             0:08:12              492.00  ...               Yes         0
3             0:01:06               66.00  ...               Yes         0
4             0:07:40              460.00  ...               Yes         0
..                ...                 ...  ...               ...       ...
900          00:13:47              827.00  ...               Yes         0
901          00:06:44              404.00  ...               Yes         2
902          00:06:24              384.00  ...               Yes         3
903          00:04:39              279.00  ...               Yes         3
904          00:01:21               81.00  ...               Yes         3

    No of Comments Date of the Last Comment Maximum Quality of the Video  \
0              419                 8/6/2022                         1080
1              189                6/15/2022                         1080
2                0                      NaN                          720
3               77                9/22/2022                         1080
4            28221                9/23/2022                         1080
..             ...                      ...                          ...
900             15                10/4/2022                         1080
901              0                10/4/2022                          720
902              0                 8/4/2022                          720
903              0                 8/4/2022                         1080
904              0                10/4/2022                         1080

     No of Videos the Channel No of Playlist Premiered or Not  \
0                         462           12.0               No
1                         251           12.0              Yes
2                         158            0.0               No
3                       46509           48.0               No
4                        2872          113.0               No
..                        ...            ...              ...
900                      5024           36.0               No
901                      5024           36.0               No
902                      1018           13.0               No
903                      1018           13.0               No
904                      3014          124.0               No

     Community Engagement (Posts per week)  Intern Who Collected the Data
0                                        1                     Akhil Teja
1                                        2                     Akhil Teja
2                                        0                    Syed safdar
3                                       20                    Syed safdar
4                                        1                    Rahul Singh
..                                     ...                            ...
900                                      1                      Mafaz Ali
901                                      1                      Mafaz Ali
902                                      1                      Mafaz Ali
903                                      1                      Mafaz Ali
904                                      0                      Mafaz Ali

[905 rows x 24 columns]

In [ ]:
print(df.head())

                                          Video Link Video Views  \
0        https://www.youtube.com/watch?v=_0fUOJ55gis     146,059
1        https://www.youtube.com/watch?v=_70MSLPRfZI     231,969
2  https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s         878
3        https://www.youtube.com/watch?v=_CkFNJgKsFs       9,965
4        https://www.youtube.com/watch?v=_GFkHA5EZdE  39,780,561

                                         Video Title  \
0    Samse - Didupe Off-road Royal Enfield Himalayan
1                           Bhoom Baddhal Web Series
2  Customer Psychology, Four Views Of Consumer De...
3     Top countries with proven natural gas reserves
4                     73 Questions With Selena Gomez

                                         Channel URL Creator Name  \
0                https://www.youtube.com/c/sriharick   srihari ck
1         https://www.youtube.com/c/ChaibisketTelugu  Chai Bisket
2  https://www.youtube.com/channel/UCcIUnCsBfONvb...  Virda Warsi
3                 https://www.youtube.com/c/trtworld          TRT
4                                    Vogue - YouTube        Vogue

  Creator Gender Total Channel Subcribers Total Chanel Views  \
0           Male                    40200            7964284
1           Male                   920000          137535681
2         Female                      458              72945
3            NaN                  1680000          541653219
4            NaN                 12100000         3600496171

  Duration of Video Duration in Seconds  ... Video Description  Hashtags  \
0         00:30:41             1,841.00  ...               Yes         0
1         00:14:24               864.00  ...               Yes         1
2           0:08:12              492.00  ...               Yes         0
3           0:01:06               66.00  ...               Yes         0
4           0:07:40              460.00  ...               Yes         0

  No of Comments Date of the Last Comment Maximum Quality of the Video  \
0            419                 8/6/2022                         1080
1            189                6/15/2022                         1080
2              0                      NaN                          720
3             77                9/22/2022                         1080
4          28221                9/23/2022                         1080

   No of Videos the Channel No of Playlist Premiered or Not  \
0                       462           12.0               No
1                       251           12.0              Yes
2                       158            0.0               No
3                     46509           48.0               No
4                      2872          113.0               No

   Community Engagement (Posts per week)  Intern Who Collected the Data
0                                      1                     Akhil Teja
1                                      2                     Akhil Teja
2                                      0                    Syed safdar
3                                     20                    Syed safdar
4                                      1                    Rahul Singh

[5 rows x 24 columns]

In [ ]:
print(df['Video Link'])

0            https://www.youtube.com/watch?v=_0fUOJ55gis
1            https://www.youtube.com/watch?v=_70MSLPRfZI
2      https://www.youtube.com/watch?v=_8gfCdt3H00&t=87s
3            https://www.youtube.com/watch?v=_CkFNJgKsFs
4            https://www.youtube.com/watch?v=_GFkHA5EZdE
                             ...
900          https://www.youtube.com/watch?v=GS18WawA-t0
901          https://www.youtube.com/watch?v=_tc_APkjH2Q
902          https://www.youtube.com/watch?v=Xfj4osSYfhU
903          https://www.youtube.com/watch?v=mGEHqwVz0eI
904          https://www.youtube.com/watch?v=UGATpt0I4vA
Name: Video Link, Length: 905, dtype: object

In [ ]:
print(df['Video Views'])

0         146,059
1         231,969
2             878
3           9,965
4      39,780,561
          ...
900         6,892
901        16,554
902        32,798
903         1,503
904       429,966
Name: Video Views, Length: 905, dtype: object

In [ ]:
df.dtypes # Printing the datatype of each column.

Video Link                                object
Video Views                               object
Video Title                               object
Channel URL                               object
Creator Name                              object
Creator Gender                            object
Total Channel Subcribers                  object
Total Chanel Views                        object
Duration of Video                         object
Duration in Seconds                       object
Date of Video Upload                      object
No of Likes                              float64
Language of the Video                     object
Subtitle                                  object
Video Description                         object
Hashtags                                   int64
No of Comments                            object
Date of the Last Comment                  object
Maximum Quality of the Video               int64
No of Videos the Channel                   int64
No of Playlist                           float64
Premiered or Not                          object
Community Engagement (Posts per week)      int64
Intern Who Collected the Data             object
dtype: object

In [ ]:
df[pd.isnull(df['Video Views'])]

Empty DataFrame
Columns: [Video Link, Video Views, Video Title, Channel URL, Creator Name, Creator Gender, Total Channel Subcribers, Total Chanel Views, Duration of Video, Duration in Seconds, Date of Video Upload, No of Likes, Language of the Video, Subtitle, Video Description, Hashtags, No of Comments, Date of the Last Comment, Maximum Quality of the Video, No of Videos the Channel, No of Playlist, Premiered or Not, Community Engagement (Posts per week), Intern Who Collected the Data]
Index: []

[0 rows x 24 columns]

In [ ]:
df.isnull().sum() #This gives us the NULL values in each column.

Video Link                                 0
Video Views                                0
Video Title                                0
Channel URL                                0
Creator Name                              11
Creator Gender                           314
Total Channel Subcribers                   0
Total Chanel Views                         0
Duration of Video                          0
Duration in Seconds                        0
Date of Video Upload                       0
No of Likes                                1
Language of the Video                     21
Subtitle                                   1
Video Description                          0
Hashtags                                   0
No of Comments                             0
Date of the Last Comment                  24
Maximum Quality of the Video               0
No of Videos the Channel                   0
No of Playlist                             9
Premiered or Not                           0
Community Engagement (Posts per week)      0
Intern Who Collected the Data              0
dtype: int64

In [ ]:
df['Video Views'] = df['Video Views'].str.replace(',', '').astype('float64') # Converted The video Views into float64 datatype.

In [ ]:
print(df['Video Views'])

0        146059.0
1        231969.0
2           878.0
3          9965.0
4      39780561.0
          ...
900        6892.0
901       16554.0
902       32798.0
903        1503.0
904      429966.0
Name: Video Views, Length: 905, dtype: float64

In [ ]:
df['Total Channel Subcribers'] = df['Total Channel Subcribers'].str.replace(',', '').astype('float64')

In [ ]:
print(df['Total Channel Subcribers'])

0         40200.0
1        920000.0
2           458.0
3       1680000.0
4      12100000.0
          ...
900      594000.0
901      594000.0
902       23500.0
903       23500.0
904     3980000.0
Name: Total Channel Subcribers, Length: 905, dtype: float64

In [ ]:
df['Total Chanel Views'] = df['Total Chanel Views'].str.replace(',', '').astype('float64')
print(df['Total Chanel Views'])

0      7.964284e+06
1      1.375357e+08
2      7.294500e+04
3      5.416532e+08
4      3.600496e+09
           ...
900    1.299267e+08
901    1.299267e+08
902    5.104872e+06
903    5.104872e+06
904    7.288589e+08
Name: Total Chanel Views, Length: 905, dtype: float64

In [ ]:
df=df.drop(['Creator Gender'], axis=1) # Since it has a lot of null values, and gender might not play a role in our prediction.
                                    # We can drop gender from our dataframe.

In [ ]:
df=df.drop(['Video Link','Channel URL'], axis=1) # These columns are also not required in our model.

In [ ]:
print(df)

     Video Views                                        Video Title  \
0       146059.0    Samse - Didupe Off-road Royal Enfield Himalayan
1       231969.0                           Bhoom Baddhal Web Series
2          878.0  Customer Psychology, Four Views Of Consumer De...
3         9965.0     Top countries with proven natural gas reserves
4     39780561.0                     73 Questions With Selena Gomez
..           ...                                                ...
900       6892.0  Calming mashup of Islamic Nasheed 2022 | Isami...
901      16554.0                           Amchi Nawayat Mehfil hee
902      32798.0                                      Aas ge Kaagaz
903       1503.0  Anjuman Tarana by ABHS Students | Anjuman Anju...
904     429966.0  Jhulan Goswami Final Over in ODIs | ENG vs IND...

             Creator Name  Total Channel Subcribers  Total Chanel Views  \
0              srihari ck                   40200.0        7.964284e+06
1             Chai Bisket                  920000.0        1.375357e+08
2             Virda Warsi                     458.0        7.294500e+04
3                     TRT                 1680000.0        5.416532e+08
4                   Vogue                12100000.0        3.600496e+09
..                    ...                       ...                 ...
900  Sahil Online TV News                  594000.0        1.299267e+08
901  Sahil Online TV News                  594000.0        1.299267e+08
902  Sahil Online Bhatkal                   23500.0        5.104872e+06
903  Sahil Online Bhatkal                   23500.0        5.104872e+06
904   Sony Sports Network                 3980000.0        7.288589e+08

    Duration of Video Duration in Seconds Date of Video Upload  No of Likes  \
0           00:30:41             1,841.00            7/29/2022       6700.0
1           00:14:24               864.00            5/22/2022       7800.0
2             0:08:12              492.00             2/9/2021        858.0
3             0:01:06               66.00            9/13/2022        188.0
4             0:07:40              460.00            3/21/2017     901000.0
..                ...                 ...                  ...          ...
900          00:13:47              827.00            9/29/2022        235.0
901          00:06:44              404.00             8/6/2017        117.0
902          00:06:24              384.00             1/3/2021          1.0
903          00:04:39              279.00             3/6/2022          1.0
904          00:01:21               81.00            9/25/2022       7600.0

    Language of the Video  ... Video Description Hashtags  No of Comments  \
0                 Kannada  ...               Yes        0             419
1                  Telugu  ...               Yes        1             189
2                   Hindi  ...               Yes        0               0
3                 English  ...               Yes        0              77
4                 English  ...               Yes        0           28221
..                    ...  ...               ...      ...             ...
900         Urdu + Arabic  ...               Yes        0              15
901             Nawayathi  ...               Yes        2               0
902             Nawayathi  ...               Yes        3               0
903                  Urdu  ...               Yes        3               0
904               English  ...               Yes        3               0

    Date of the Last Comment Maximum Quality of the Video  \
0                   8/6/2022                         1080
1                  6/15/2022                         1080
2                        NaN                          720
3                  9/22/2022                         1080
4                  9/23/2022                         1080
..                       ...                          ...
900                10/4/2022                         1080
901                10/4/2022                          720
902                 8/4/2022                          720
903                 8/4/2022                         1080
904                10/4/2022                         1080

     No of Videos the Channel  No of Playlist  Premiered or Not  \
0                         462            12.0                No
1                         251            12.0               Yes
2                         158             0.0                No
3                       46509            48.0                No
4                        2872           113.0                No
..                        ...             ...               ...
900                      5024            36.0                No
901                      5024            36.0                No
902                      1018            13.0                No
903                      1018            13.0                No
904                      3014           124.0                No

    Community Engagement (Posts per week)  Intern Who Collected the Data
0                                       1                     Akhil Teja
1                                       2                     Akhil Teja
2                                       0                    Syed safdar
3                                      20                    Syed safdar
4                                       1                    Rahul Singh
..                                    ...                            ...
900                                     1                      Mafaz Ali
901                                     1                      Mafaz Ali
902                                     1                      Mafaz Ali
903                                     1                      Mafaz Ali
904                                     0                      Mafaz Ali

[905 rows x 21 columns]

In [ ]:
df['Language of the Video'] = df['Language of the Video'].fillna("Unknown") #Language of the video is changed to unknown

In [ ]:
df=df.drop(['Subtitle'], axis=1)

In [ ]:
df=df.drop(['Intern Who Collected the Data'], axis=1)

In [ ]:
df = df.drop(['Duration of Video'], axis=1)

In [ ]:
df['Duration in Seconds'] = df['Duration in Seconds'].str.replace(',', '').astype('float64')

In [ ]:
df.dtypes

Video Views                              float64
Video Title                               object
Creator Name                              object
Total Channel Subcribers                 float64
Total Chanel Views                       float64
Duration in Seconds                      float64
Date of Video Upload                      object
No of Likes                              float64
Language of the Video                     object
Video Description                         object
Hashtags                                   int64
No of Comments                            object
Date of the Last Comment                  object
Maximum Quality of the Video               int64
No of Videos the Channel                   int64
No of Playlist                           float64
Premiered or Not                          object
Community Engagement (Posts per week)      int64
dtype: object

In [ ]:
df1 = df.copy()                                     # Create copy of pandas DataFrame
df1['Video Description'] = df1['Video Description'].map({'Yes': True, 'No': False}).astype('bool')      # Replace string by boolean
print(df1)

     Video Views                                        Video Title  \
0       146059.0    Samse - Didupe Off-road Royal Enfield Himalayan
1       231969.0                           Bhoom Baddhal Web Series
2          878.0  Customer Psychology, Four Views Of Consumer De...
3         9965.0     Top countries with proven natural gas reserves
4     39780561.0                     73 Questions With Selena Gomez
..           ...                                                ...
900       6892.0  Calming mashup of Islamic Nasheed 2022 | Isami...
901      16554.0                           Amchi Nawayat Mehfil hee
902      32798.0                                      Aas ge Kaagaz
903       1503.0  Anjuman Tarana by ABHS Students | Anjuman Anju...
904     429966.0  Jhulan Goswami Final Over in ODIs | ENG vs IND...

             Creator Name  Total Channel Subcribers  Total Chanel Views  \
0              srihari ck                   40200.0        7.964284e+06
1             Chai Bisket                  920000.0        1.375357e+08
2             Virda Warsi                     458.0        7.294500e+04
3                     TRT                 1680000.0        5.416532e+08
4                   Vogue                12100000.0        3.600496e+09
..                    ...                       ...                 ...
900  Sahil Online TV News                  594000.0        1.299267e+08
901  Sahil Online TV News                  594000.0        1.299267e+08
902  Sahil Online Bhatkal                   23500.0        5.104872e+06
903  Sahil Online Bhatkal                   23500.0        5.104872e+06
904   Sony Sports Network                 3980000.0        7.288589e+08

     Duration in Seconds Date of Video Upload  No of Likes  \
0                 1841.0            7/29/2022       6700.0
1                  864.0            5/22/2022       7800.0
2                  492.0             2/9/2021        858.0
3                   66.0            9/13/2022        188.0
4                  460.0            3/21/2017     901000.0
..                   ...                  ...          ...
900                827.0            9/29/2022        235.0
901                404.0             8/6/2017        117.0
902                384.0             1/3/2021          1.0
903                279.0             3/6/2022          1.0
904                 81.0            9/25/2022       7600.0

    Language of the Video  Video Description  Hashtags No of Comments  \
0                 Kannada               True         0            419
1                  Telugu               True         1            189
2                   Hindi               True         0              0
3                 English               True         0             77
4                 English               True         0          28221
..                    ...                ...       ...            ...
900         Urdu + Arabic               True         0             15
901             Nawayathi               True         2              0
902             Nawayathi               True         3              0
903                  Urdu               True         3              0
904               English               True         3              0

    Date of the Last Comment  Maximum Quality of the Video  \
0                   8/6/2022                          1080
1                  6/15/2022                          1080
2                        NaN                           720
3                  9/22/2022                          1080
4                  9/23/2022                          1080
..                       ...                           ...
900                10/4/2022                          1080
901                10/4/2022                           720
902                 8/4/2022                           720
903                 8/4/2022                          1080
904                10/4/2022                          1080

     No of Videos the Channel  No of Playlist Premiered or Not  \
0                         462            12.0               No
1                         251            12.0              Yes
2                         158             0.0               No
3                       46509            48.0               No
4                        2872           113.0               No
..                        ...             ...              ...
900                      5024            36.0               No
901                      5024            36.0               No
902                      1018            13.0               No
903                      1018            13.0               No
904                      3014           124.0               No

     Community Engagement (Posts per week)
0                                        1
1                                        2
2                                        0
3                                       20
4                                        1
..                                     ...
900                                      1
901                                      1
902                                      1
903                                      1
904                                      0

[905 rows x 18 columns]

In [ ]:
df1.dtypes # Video Description is Yes, No type in our dataframe so we converted it into boolean type.

Video Views                              float64
Video Title                               object
Creator Name                              object
Total Channel Subcribers                 float64
Total Chanel Views                       float64
Duration in Seconds                      float64
Date of Video Upload                      object
No of Likes                              float64
Language of the Video                     object
Video Description                           bool
Hashtags                                   int64
No of Comments                            object
Date of the Last Comment                  object
Maximum Quality of the Video               int64
No of Videos the Channel                   int64
No of Playlist                           float64
Premiered or Not                          object
Community Engagement (Posts per week)      int64
dtype: object

In [ ]:
# Hence by using the above methods and logic we can clean our data so that it is ready to input in our model.